@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    font-family: 'Russo One', sans-serif;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-decoration: underline;
    text-decoration-color: rgb(25, 0, 255);
    font-style: italic;
    font-size: 3rem;
}

h3 {
}

#count {
    font-size: 1.5rem;
}

#cay {
    border-radius: 20px;
    border: 4px rgb(25, 0, 255) solid;
    background-color: rgb(176, 132, 218);
    padding: 20px;
    cursor: pointer;
}

#cay:active, #cayBahcesi:active {
    transform: scaleX(1.02);
}

.btn {
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

span {
    font-size: 1.5rem;
}

